<fieldset>
	<legend>Add Player</legend>
	<form (submit)="onSubmit()" #playerForm="ngForm">
		<label>Player Name:

			<input type="text" name="name" required minlength='4' maxlength='24' [(ngModel)]='player.name' #name='ngModel'>

			<span class="invalid" *ngIf="name.dirty && name.invalid">Name must be at least 4 characters long.</span>

		</label>
		<label>Preferred Position:

			<input type="text" name="position"  required minlength='4' maxlength='24' [(ngModel)]='player.position' #position='ngModel'>

			<span class="invalid" *ngIf="position.dirty && position.invalid">Position must be at least 4 characters long.</span>

		</label>

		<input type="submit" name="submit" value="Add" [disabled]="playerForm.invalid">
	</form>
</fieldset>